.about {
    background-color: white;

}

.about__container {
    padding: 80px 175px 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include media-tablet {
        flex-direction: column-reverse;
        align-items: center;
        gap: 80px;
        padding: 80px 138px 100px;
    }
}

.about__img {
    display: block;
}

.about__content {
    max-width: 430px;
    padding-top: 15px;

    @include media-tablet {
        max-width: none;
        padding: 0;
    }

}

.about__text {
    padding-top: 25px;
    @extend  %font-additional;
}
