.about__container {
    padding: 80px 175px 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.about__img {
    display: block;
}

.about__content {
    padding-top: 15px;
    max-width: 430px;
}

.about__text {
    @extend  %font-additional;
    padding-top: 25px;
}
