.all-pets {
    background: $color-light-l;
}

.all-pets__container {
    padding: 80px 0 100px;
    text-align: center;
}

.all-pets__paginator {
    padding-top: 60px;
}

.all-pets__cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 30px;
}

.all-pets__buttons {
    width: 100%;
    padding-top: 60px;
    display: flex;
    justify-content: center;
    column-gap: 20px;
}