.donation {
    background: $color-light-l;
}

.donation__container {
    padding: 78px 142px 99px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.donation__img {
    padding-top: 13px;
    display: block;
}

.donation__content {
    max-width: 380px;
    padding-top: 3px;
}

.donation-title {
    max-width: 300px;
    padding-bottom: 20px;
}

.donation__text {
    padding: 21px 0 19px;
    @include  font(1.5rem, 1.7rem);
    letter-spacing: 0.06em;
    color: $color-dark-l;
}

.donation__creditcard {
    padding: 10px 15px;
    margin-bottom: 20px;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    background: $color_primary;
    border-radius: 9px;
    text-decoration: none;
    transition: all 0.4s ease-in-out;

    &:hover {
        background: $color_primary_light;
    }
}

.donation__card-number {
    @include font(2rem, 2.3rem);
    color: $color-dark-l;
    letter-spacing: 0.06em;
}

.donation__disclaimer {
    @extend  %font-additional;
    @include  font(1.2rem, 1.8rem);
    color: $color-dark-m;
    font-style: italic;
}
