.help {
    text-align: center;
    background-color: white;
}

.help__container {
    padding-top: 80px;
}

.help__cards {
    padding: 60px 70px 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 55px 120px;
    justify-content: center;
}

.help__card {
    height: 113px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.help__card-img {
    height: 60px;
    display: flex;
    align-items: center;
}

.help__card-caption {
    color: $color_dark-l;
    @include  font(2rem, 2.3rem);
    letter-spacing: 0.06em;
}