.pets {
   background: $color-light-l;

}

.pets__container {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 113px;
}

.pets__slider {
    padding: 60px 105px 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}







