.pet-modal {
    position: relative;
    width: 900px;
    height: 500px;
    background: $color-light-s;
    border-radius: 9px;
    color: black;

    @include media-tablet  {
        height: 350px;
        width: 630px;
    }

    @include media-burger  {
        width: 240px;
        height: 341px;
    }

}

.pet-modal:hover{
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.pet-modal__close-button {
    position: absolute;
    right: -42px;
    top: -52px;
    width: 52px;
    height: 52px;
    display: block;
    background-image: url("../assets/svg/modal/close.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: 2px solid $color-primary;
    border-radius: 100px;
    cursor: pointer;

    @include media-tablet  {
        right: -43px;
    }

    @include media-burger  {
        right: -30px;
    }
}

.pet-modal__container {
    display: flex;
    justify-content: space-between;
}

.pet-modal__img img {
    display: block;
    border-radius: 9px 0px 0px 9px;

    @include media-tablet  {
        max-width: 350px;
    }

    @include media-burger  {
        display: none;
    }
}

.pet-modal__content {
    padding-top: 50px;
    padding-right: 20px;
    max-width: 370px;

    @include media-tablet  {
        padding-top: 11px;
        padding-right: 7px;
        max-width: 269px;
    }

    @include media-burger {
        padding: 11px 10px 0;
        text-align: center;
    }
}

.pet-modal__name {
    margin-bottom: 10px;
    color: black;

    @include media-burger {
        @include font(3.5rem, 4.5rem);
    }

}

.pet-modal__bleed {
    margin-bottom: 40px;
    color: black;

    @include media-tablet  {
        margin-bottom: 20px;
    }
}

.pet-modal__description {
    margin-bottom: 37px;
    @include media-tablet  {
        margin-bottom: 16px;
    }

    @include media-burger  {
        text-align: justify;
        margin-bottom: 20px;
    }
}

.pet-modal__properties-list {
    list-style-type:none;
    @include media-burger  {
        text-align: left;
    }
}

.pet-modal__properties-item {
    padding-left: 15px;
    letter-spacing: 0.1rem;
    margin-bottom: 4px;
    @include media-tablet  {
        margin-bottom: -1px;
    }
}

.pet-modal__properties-item span {
    position: relative;
    @include font(1.5rem, 1.7rem, 700);
    letter-spacing: 0.2rem;

}

.pet-modal__properties-item span:before {
    content: '';
    position: absolute;
    left: -15px;
    top: 7px;
    background-color: $color_primary;
    width: 4px;
    height: 4px;
    border-radius: 50%;

    @include media-burger  {
        left: -14px;
    }
}