.pets {
   background: $color-light-l;
}

.pets__container {
    padding: 80px 0 113px;
    text-align: center;
}

.pets__slider {
    padding: 60px 0 75px;
    display: flex;
    align-items: center;
}

.pets__cards {
    flex-grow: 1;
    padding: 0 53px;
    display: flex;
    justify-content: space-between;

    @include media-tablet {
        padding:0 10px;
    }
}







