.start__container {
    background-image: url(../assets/img/start/start-screen-puppy.png);
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

.start__content {
    max-width: 460px;
    padding: 223px 0 256px;
}

.start__title {
    max-width: 320px;
    @include font(4.4rem, 5.7rem);
    color: $color-light-xl;
    letter-spacing: 0;
}

.start__text {
    padding: 43px 0 56px;
    @include  font(1.5rem, 2.4rem);
    @extend  %font-additional;
    color: $color-dark-s;
}

