.start {
    margin-top: -200px;
    padding-top: 200px;
    background: url(../assets/img/start/gradient.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #211F20;
}

.start__container {
    background-image: url(../assets/img/start/start-screen-puppy.png);
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

.start__content {
    max-width: 460px;
    padding-top: 193px;
    padding-bottom: 256px;
}

.start__title {
    max-width: 320px;
    @include font(4.4rem, 5.7rem);
    color: $color-light-xl;
    letter-spacing: 0;
}

.start__text {
    padding-top: 43px;
    padding-bottom: 56px;
    @include  font(1.5rem, 2.4rem);
    @extend  %font-additional;
    color: $color-dark-s;
}

