* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

html {
    font-size: 10px;
}

body {
    @include font(1.5rem, 2.4rem);
    @extend  %font-primary;
}

h2 {
    @include font(3.5rem, 4.5rem);
    color: $color-dark-l;
    letter-spacing: 0.06em;

    @include media-mobile {
        @include font(2.5rem, 3.2rem);
    }
}

.disable-burger-scroll {
    @include media-burger {
        height: 100vh;
        overflow: hidden;
    }
}

.overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: black;
    @extend %transition03s;

}



