* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    height: 100%;
    font-size: 10px;

}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background: url(../assets/img/start/gradient.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #211F20;
    @include font(1.5rem, 2.4rem);
    @extend  %font-primary;
}

h2 {
    @include font(3.5rem, 4.5rem);
    color: $color-dark-l;
    letter-spacing: 0.06em;
}

