.button {
    padding: 16px 45px;
    @include font(1.7rem, 2.2rem);
    @extend %font-primary;
    color: $color-dark-3xl;
    letter-spacing: 0.06em;
    text-decoration: none;
    background: $color-primary;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;

    &:hover {
        background: $color-primary-light;
    }
}

.button_light {
    padding: 14.5px 43px;
    border: 2px solid  $color-primary;
    background: transparent;

    &:hover {
        background: $color-primary-light;
        border-color: $color-primary-light;
    }
}

.pet-card:hover .button_light {
    background: $color-primary-light;
    border-color: $color-primary-light;
}

.button-nav {
    height: 52px;
    width: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include font(2rem, 2.3rem);
    color: $color-dark-3xl;
    letter-spacing: 0.06em;
    background: transparent;
    border: 2px solid  $color-primary;
    border-radius: 100px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
        background: $color-primary-light;
        border-color: $color-primary-light;
    }

    &:active {
        background: $color-primary;
        border: 2px solid  $color-primary;
    }

}

.button-nav_passive {
    background: $color-primary;
    cursor: default;
    pointer-events: none;
}

.button-nav_inactive {
    color: $color-dark-s;
    border: 2px solid  $color-dark-s;
    cursor: default;
    pointer-events: none;
}

.button-nav__img_reverse {
    transform: rotate(180deg);
}

