.button {
    padding: 15px 45px;
    @include font(1.7rem, 2.2rem);
    @extend %font-primary;
    background: $color-primary;
    color: $color-dark-3xl;
    letter-spacing: 0.06em;
    border: none;
    border-radius: 100px;
    cursor: pointer;

    &.button-light {
        background: transparent;
        padding: 13px 43px;
        border: 2px solid  $color-primary;
    }
}

