.pet-card {
    width: 270px;
    height: 435px;
    text-align: center;
    border-radius: 9px;
    overflow: hidden;
    background: $color-light-s;
    transition: all 0.4s ease-in-out;
}

.pet-card:hover {
    background: $color-light-xl;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.pet-card__img {
    display: block;
    margin-bottom: 30px;
}

.pet-card__name {
    margin-bottom: 30px;
    @include  font(2rem, 2.27rem);
    color: $color-dark-l;
    letter-spacing: 0.06em;


    @include media-mobile {
        margin-bottom: 31px;
    }
}

