.about-container {
    padding: 80px 175px 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.about-pets {
    display: block;

}

.about-content {
    max-width: 430px;
}
