.footer {
    background: url(../assets/img/footer/gradient.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.footer__container {
    background-image: url(../assets/img/footer/footer-puppy.png);
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

.footer__content {
    padding: 56px 0 53px;
    display: flex;
    gap: 159px;
}

.footer__column {
    max-width: 300px;
}

.footer__title {
    max-width: 280px;
    @include  font(3.5rem, 4.5rem);
    color: $color-light-xl;
    letter-spacing: 0.06em;
}

.footer__list {
    padding-top: 34px;
    list-style-type: none;
}

.footer__contact-item {
    height: 46px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.footer__contact-item:last-child {
    margin: 0;
}

.footer__link {
    margin-left: 20px;
    text-decoration: none;
    @include  font(2rem, 2.3rem);
    @extend  %font-primary;
    color: $color_primary;
    letter-spacing: 0.06em;
}