.header {
    padding: 30px 0;
    background-color: white;
}

.header_transparent {
    background-color: transparent;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__link {
    text-decoration: none;
}

.logo__title {
    @include font(3.2rem, 3.5rem);
    color: $color-primary;
    letter-spacing: 0.06em;
}

.logo__title_dark {
    color: $color-dark-l;
}

.logo__subtitle {
    width: 100%;
    padding-top: 10px;
    @include font(1.3rem, 1.5rem);
    @extend %font-additional;
    color: $color-light-xl;
    letter-spacing: 0.1em;
    text-align: center;
}

.logo__subtitle_dark {
    color: $color-dark-3xl;
}

.navigation__list {
    display: flex;
    justify-content: flex-end;
    gap: 36px;
    list-style-type: none;
}

.navigation__item {
    position: relative;
    padding-bottom: 3px;
    color: $color-light-s;
    @extend %font-additional;
    transition: all 0.2s ease;

    &:active.navigation__item::after{
        opacity: 1;
    }
}

.navigation__item_dark{
    color: $color-dark-l;
}

.navigation__item::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    background-color: $color-primary;
    left: 0;
    bottom: 0;
    opacity: 0;
    transition: all 0.3s ease;
}

.navigation__link {
    color: $color-dark-s;
    @include font(1.5rem, 2.4rem);
    @extend %font-additional;
    text-decoration: none;
    transition: all 0.3s ease-in-out;

    &:hover {
        color: $color-light-s;
    }
}

.navigation__link_dark {
    color: $color-dark-l;
    text-decoration: none;

    &:hover {
        color: $color-dark-3xl;
    }
}

.navigation__item_opened {
    cursor: default;
    pointer-events: none;

    &.navigation__item::after{
        opacity: 1;
    }
}

.navigation__item_opened .navigation__link {
    color: $color-light-s;
}

.navigation__item_opened .navigation__link_dark {
    color: $color-dark-3xl;
}