.header {
    margin-top: 60px;
    margin-bottom: 30px;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.logo-title {
    @include font(3.2rem, 3.5rem);
    color: $color-primary;
    letter-spacing: 0.06em;
}

.logo-subtitle {
    width: 100%;
    margin-top: 10px;
    @include font(1.3rem, 1.5rem);
    @extend %font-additional;
    color: $color-light-xl;
    letter-spacing: 0.1em;
    text-align: center;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    gap: 35px;
}

.active-item {
    color: $color-light-s;
    @extend %font-additional;
    border-bottom: 3px solid $color-primary;
}


.nav-link {
    text-decoration: none;
    color: $color-dark-s;
    @include font(1.5rem, 2.4rem);
    @extend %font-additional;
}


